body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    margin-left: 3%;
}
.half-width{
    width: 40%;
    margin-bottom: 50px;
}
.half-width img{
    width: 100%;
    padding-left: 10%;
}
h1{
    font-size: 50px;
    color: #575757;
}
h2{
    font-size: 40px;
    color: #575757
}
p{
    color: #575757;
}
.orange-color{
    color: orangered;
}
.button-link-color{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#fe4b2f, #fc8f49);
    border-radius: 5px;
    padding: 10px 40px;
}
.about-me{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
#about-half{
    margin-left: 5%;
    padding-left: 5%;
}