body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-left: 3%;
}
.half-width{
    width: 40%;
    margin-bottom: 50px;
}
.half-width img{
    width: 100%;
    padding-left: 10%;
}
h1{
    font-size: 50px;
    color: #575757;
}
h2{
    font-size: 40px;
    color: #575757
}
p{
    color: #575757;
}
.orange-color{
    color: orangered;
}
.button-link-color{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#fe4b2f, #fc8f49);
    border-radius: 5px;
    padding: 10px 40px;
}
.about-me{
    background-image: url(images/shapes/s1.png);
    background-repeat: no-repeat;
}
#about-half{
    margin-left: 5%;
    padding-left: 5%;
}
.My-recipies{
    display: block;
    text-align: center;
}
.recipie-item{
    text-align: center;
}
.food-item{
    width: 29%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
}
.food-item img{
    width: 100%;
}
.social-media-item{
    text-align: center;
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 50px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
}
.social-media-item h1{
    text-align: center;
    color: #575757;
    padding-top: 5%;
}
.social-media h1{
    color: black;
}
.social-media{
    background-color: white;
    margin-left: 50px;
    padding-bottom: 10px;
    display: flex;
}
.Youtube-Subscribers{
    width: 30%;
}
.Instagram-Followers{
    width: 30%;
}
.Dribbble-Shot{
    width: 30%;
}

footer{
    text-align: center;
    background-color: black;
    padding: 5px;
}
footer p{
    color: white;
}